@model Entities.ViewModels.RoleViewModels
@{
    var Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CName = ViewBag.CName;
    var CText = ViewBag.CText;
    string CRoute = "/" + CName ;
    string CReateRoute = CRoute+"/Create" ;
    ViewBag.Home = CRoute + "/Index";
    string error = ViewBag.Error ?? "";
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a route="/" href="@ViewBag.Home">Nhóm quyền</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a route="@CRoute">@Title</a>
        <i class="fa fa-angle-right"></i>
    </li>
    
</ul>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject uppercase">@CText</span>
        </div>
    </div>
    <div class="portlet-body" id="account_detail">
        <div class="tabbable-custom nav-justified">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab"> Thông tin @CText</a>
                </li>
            </ul>
            <div class="tab-content" style="padding: 0;">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="portlet-body form">
                        @using (Html.BeginForm("Create", "Role", FormMethod.Post, new {id = "formDetail", @class = "form-horizontal form-bordered form-row-stripped" }))
                        {
                            @Html.AntiForgeryToken()

                            if (Model != null)
                            {
                                @Html.HiddenFor(model => model.Id)
                            }

                            <div class="form-body">
                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="alert alert-danger">
                                        <button data-close="alert" class="close"></button>
                                        @Html.ValidationSummary(true)
                                        <br />
                                        @error
                                    </div>
                                }
                                <div class="form-group">
                                    <span class="col-md-3 control-label">Mã quyền</span>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Code)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-3 control-label">Tên quyền</span>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-3 control-label">Mô tả</span>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green-dark"><i class="fa fa-check"></i>  Save</button>
                                        <a route="@CRoute" href="@ViewBag.Home" class="btn default" id="cancelBtn"><i class="fa fa-refresh"></i> Back</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
  
</div>