@model IEnumerable<Entities.ViewModels.RoleViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 0;
}

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light portlet-fit bordered">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="" class="btn green">
                            <a href="/Role/Create">
                                Add New
                                <i class="fa fa-plus"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
            <thead>
                <tr>
                    <th> STT</th>
                    <th> Tên quyền </th>
                    <th> Mô tả </th>
                    <th> Edit </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "edit" })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->